*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container-1{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom, rgb(243, 239, 239) 50%,rgb(85, 40, 151));
    display: flex;
    flex-direction: row;
}
#container-2 img{
    width: 100%;
    height: 99.99vh;
    border-radius: 0px 0px 120px 0px;
}
#container-2 h2{
    position: absolute;
    margin-top: 2.1%;
    margin-left: 20%;
    color: rgb(70, 68, 68);
    font-family: 'Gill Sans';
    font-size: 30px;
}
#container-3{
    width: 50%;
    border-radius: 120px 0px 0px 0px;
    background-color: rgb(85, 40, 151);
}
#container-4{
    background-color: rgb(85, 40, 151);
    height: 67vh;
    width: 60%;
    position: relative;
    margin: 0 auto;
    margin-top: 18%;
    border: 2px solid black;
    border-bottom: none;
    border-radius: 40px;
    box-shadow: 5px 5px 5px rgb(53, 24, 97);
}
#container-4 h2{
    text-align: center;
    position: absolute;
    margin-top: 3.5%;
    margin-left: 39%;
    color: white;
}
#container-5{
    background-color: rgb(85, 40, 151);
    height: 59vh;
    width: 100%;
    position: absolute;
    margin-top: 50px;
    border: 1px solid black;
    border-radius: 40px;
    border-left: none;
    border-right: none;
}
#container-5 form{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 17%;
}
#container-5 input{
    width: 75%;
    padding: 2%;
    background-color: transparent;
    border: 3px soild black;
    border-left: none;
    border-right: none;
    border-top: none;
    color: white;
}
#container-5 ::placeholder{
      color: white;
}
#container-5 label{
    margin: 5%;
}
#container-6{
    display: flex;
    justify-content: space-between;
}
#container-6 label{
    display: flex;
    padding-left: 70%;
    font-size: small;

}
#container-6 h4{
    color: white;
}
#container-6 h5{
    padding-right: 17%;
    padding-top: 1.3%;
    font-size: small;
}
#container-6 h5 a:hover{
    text-decoration: underline;
}
#container-6 a{
    text-decoration: none;
    color: white;
}
#container-7{
    text-align: center;
    margin-top: 6%;
}
#container-7 button{
    width: 65%;
    border-radius: 5px;
    border: 1px solid white;
    background-color: rgb(85, 40, 151);
    color: white;
}
#container-7 h3{
    padding: 5px;
}
#container-7 a button:hover{
    background-color: #fffbfb;
    color: rgb(0, 0, 0);
}
#container-8{
    margin-top: 3%;
    text-align: center;
}
#container-8 h5{
    color: white;
}
#container-8 a{
    text-decoration: none;
    color: white;
}
#container-8 a:hover{
    text-decoration: underline;
}
#container-9{
    display: flex;
    margin-left: 40%;
    margin-top: 5%;
}
#container-9 img{
    width: 7%;
    margin: 3%;
}