*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container-1{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom, rgb(85, 40, 151) 50%,#ffffff 50%);
    display: flex;
    flex-direction: row;
}
#container-2 img{
    width: 100%;
    height: 99.9vh;
    border-radius: 0px 0px 120px 0px;
}
#container-2 h2{
    position: absolute;
    margin-top: 2.1%;
    margin-left: 20%;
    color: white;
    font-family: 'Gill Sans';
    font-size: 30px;
}
#container-3{
    width: 50%;
    border-radius: 120px 0px 0px 0px;
    background-color: rgb(255, 255, 255);
}
#container-4{
    background-color: rgb(255, 255, 255);
    height: 67vh;
    width: 60%;
    position: relative;
    margin: 0 auto;
    margin-top: 18%;
    border: 2px solid black;
    border-bottom: none;
    border-radius: 40px;
    box-shadow: 5px 5px 5px rgb(75, 72, 72);
}
#container-4 h2{
    text-align: center;
    position: absolute;
    margin-top: 3.5%;
    margin-left: 39%;
    
}
#container-5{
    background-color: rgb(255, 255, 255);
    height: 59vh;
    width: 100%;
    position: absolute;
    margin-top: 50px;
    border: 1px solid black;
    border-radius: 40px;
    border-left: none;
    border-right: none;
}
#container-5 form{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 9%;
}
#container-5 input{
    width: 75%;
    padding: 2%;
    background-color: transparent;
    border: 3px soild black;
    border-left: none;
    border-right: none;
    border-top: none;
    color: black;
}
#container-5 ::placeholder{
      color: black;
}
#container-5 label{
    margin: 5%;
}
#container-6{
    display: flex;
    justify-content: space-between;
}
#container-6 label{
    display: flex;
    padding-left: 70%;
    font-size: small;

}
#container-6 h5{
    padding-right: 17%;
    padding-top: 1.3%;
    font-size: small;
}
#container-6 h5 a:hover{
    text-decoration: underline;
}
#container-6 a{
    text-decoration: none;
    color: black;
}
#container-7{
    text-align: center;
    margin-top: 6%;
}
#container-7 button{
    width: 65%;
    border-radius: 5px;
    border: 1px solid white;
    background-color: rgb(85, 40, 151);
    color: white;
}
#container-7 h3{
    padding: 5px;
}
#container-7 a button:hover{
    background-color: #000000;
    color: rgb(255, 255, 255);
}
#container-8{
    margin-top: 3%;
    text-align: center;
}
#container-8 a{
    text-decoration: none;
    color: black;
}
#container-8 a:hover{
    text-decoration: underline;
}
#container-9{
    display: flex;
    margin-left: 40%;
    margin-top: 5%;
}
#container-9 img{
    width: 7%;
    margin: 3%;
}


@media (max-width: 360px) {
    #container-2{
        display: none;
    }
    #container-4{
        width: 150%;
        height: 45vh;
        margin-left: 25%;
    }
    #container-4 h2{
        margin-left: 30%;
    }
    #container-5{
        width: 100%;
        height: 40vh;
    }
    #container-5 form{
        margin-top: 3%;
    }
    #container-6 label{
        padding-left: 50%;
    }
    #container-6 h4{
        padding-right: 30%;
    }
}

@media (max-width: 390px) {
    #container-2{
        display: none;
    }
    #container-4{
        width: 150%;
        height: 45vh;
        margin-left: 25%;
    }
    #container-4 h2{
        margin-left: 31%;
    }
    #container-5{
        width: 100%;
        height: 40vh;
    }
    #container-6 label{
        padding-left: 50%;
    }
    #container-6 h4{
        padding-right: 30%;
    }
}

@media (max-width: 414px) {
    #container-2{
        display: none;
    }
    #container-4{
        width: 150%;
        height: 45vh;
        margin-left: 25%;
    }
    #container-4 h2{
        margin-left: 33%;
    }
    #container-5{
        width: 100%;
        height: 40vh;
    }
    #container-6 label{
        padding-left: 50%;
    }
    #container-9{
      margin-left: 70%;
      margin-top: 10%;
    }
    #container-9 img{
        width: 45px;
        padding: 20%;
        
    }
}
@media (max-width: 430px) {
    .container-1{
        /* background: white; */
    background-image: linear-gradient(to bottom, rgb(252, 252, 252) 50%,#ffffff 50%);

    }
    #container-2{
        display: none;
    }
    #container-4{
        width: 150%;
        height: 45vh;
        margin-left: 25%;
    }
    #container-4 h2{
        margin-left: 33%;
    }
    #container-5{
        width: 100%;
        height: 40vh;
    }
    #container-6 label{
        padding-left: 50%;
    }
 #container-9{
  margin-left: 60%;
  margin-top: 10%;
 }
 #container-9 img{
    width: 55px;
    padding: 20%;
    
 }
}
